:root {
  --color__bg: #fafafa;
  --color__ui: #f2f4f5;
  --color__ui--highlight: #222;
  --color__text: #222;
  --color__text--secondary: #666;
  --color__text--highlight: #c3574d;
  --timeline__h-offset: 50px;
  --timeline__step-height: 40px;
}

html,
body,
#root {
  font-family: sans-serif;
  font-size: 21px;
  line-height: 1;
  color: var(--color__text);
  background-color: var(--color__bg);
  height: 100%;
}

.main {
  overflow: hidden;
  /* height: 100%; */
}

.timeline {
  position: relative;
  left: var(--timeline__h-offset);
  width: 40px;
  height: 100%;
  padding-bottom: 60px;
}

.timeline__track {
  position: relative;
}

.timeline__track-highlight {
  height: 100%;
}

.timeline__track-division {
  height: var(--timeline__step-height);
}

.timeline__track-division:not(:first-child) {
  border-top: 2px solid var(--color__ui);
}

.timeline__track-division[data-time='day'] {
  background-color: #a1b8cd;
}

.timeline__track-division[data-time='night'] {
  background-color: #e3a839;
}

.timeline__track-hour-label {
  font-size: 0.6rem;
  position: absolute;
  left: -5px;
  transform: translateX(calc(-100% - var(--timeline__h-offset) / 4))
    translateY(-50%);
  color: var(--color__text--secondary);
}

.timeline__track-marker {
  min-width: 240px;
  position: absolute;
  left: -7.5px;
  width: calc(92.5vw - var(--timeline__h-offset));
  border-top: 2px solid var(--color__ui--highlight);
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.timeline__track-marker-label,
.timeline__track-marker-time {
  text-align: right;
}
.timeline__track-marker-label {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem;
  color: var(--color__text--highlight);
  line-height: 0;
}

.timeline__track-marker-time {
  font-size: 3.5rem;
  font-weight: 800;
  padding: 8px 0;
}
